In [1]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import pandas as pd

In [2]:
#creating a engine that will form a connection between database and python
#here we are creating a engine to connect sqlite database, we can use other databases such as sql etc

engine = create_engine("sqlite:///adult_data.db")

In [3]:
#no table has been created yet
engine.table_names()

[]

In [4]:
Base = declarative_base()

In [5]:
from sqlalchemy import Column, Integer, String

In [6]:
class User(Base):
    __tablename__ = 'users'

    index = Column(Integer, primary_key=True)
    age = Column(String)
    workclass = Column(String)
    fnlwgt= Column(String)
    education =Column(String)
    education_num=Column(Integer)
    marital_status=Column(String)
    occupation=Column(String)
    relationship=Column(String)
    race=Column(String)
    sex=Column(String)
    capital_gain=Column(Integer)
    capital_loss=Column(Integer)
    hours_per_week=Column(Integer)
    native_country=Column(String)
    label = Column(String)

In [7]:
#still not tables in database
engine.table_names()

[]

In [8]:
#creating tables with columns
#send the table data you have created to the MySQL database:
Base.metadata.create_all(engine)

In [9]:
engine.table_names()

['users']

In [10]:
#importing metaData and tables. it kind of create a instance of the table
from sqlalchemy import Table
from sqlalchemy import MetaData

In [11]:
engine.table_names()

['users']

In [12]:
# i dnt know y i cannot create the table like this table.create(engine)
engine.table_names()

['users']

In [13]:
#reading data from url
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"
df = pd.read_csv(url)

In [14]:
df.index.name = "index"

In [15]:
df.columns= ["age","workclass","fnlwgt","education","education_num","marital_status","occupation","relationship","race","sex","capital_gain","capital_loss","hours_per_week","native_country","label"]

In [16]:
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,label
index,,,,,,,,,,,,,,,
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [17]:
#copying data to sql database
df.to_sql('users',engine,if_exists='append', index= False)

In [18]:
#doing things sqlite way

In [19]:
import sqlite3

In [20]:
conn = sqlite3.connect('adult_data.db')

In [21]:
c = conn.cursor()

In [22]:
c.execute("select * from users limit 5")

In [23]:
data = c.fetchall()

In [24]:
for row in data:
    print(row)

(1, '50', ' Self-emp-not-inc', '83311', ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 13, ' United-States', ' <=50K')
(2, '38', ' Private', '215646', ' HS-grad', 9, ' Divorced', ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K')
(3, '53', ' Private', '234721', ' 11th', 7, ' Married-civ-spouse', ' Handlers-cleaners', ' Husband', ' Black', ' Male', 0, 0, 40, ' United-States', ' <=50K')
(4, '28', ' Private', '338409', ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Wife', ' Black', ' Female', 0, 0, 40, ' Cuba', ' <=50K')
(5, '37', ' Private', '284582', ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Wife', ' White', ' Female', 0, 0, 40, ' United-States', ' <=50K')

## Write two basic update queries

In [25]:
c.execute("UPDATE users SET marital_status = 'Married' WHERE marital_status = ' Married-civ-spouse'")

In [26]:
c.execute("select * from users limit 5")

In [27]:
data = c.fetchall()
for row in data:
    print(row)

(1, '50', ' Self-emp-not-inc', '83311', ' Bachelors', 13, 'Married', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 13, ' United-States', ' <=50K')
(2, '38', ' Private', '215646', ' HS-grad', 9, ' Divorced', ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K')
(3, '53', ' Private', '234721', ' 11th', 7, 'Married', ' Handlers-cleaners', ' Husband', ' Black', ' Male', 0, 0, 40, ' United-States', ' <=50K')
(4, '28', ' Private', '338409', ' Bachelors', 13, 'Married', ' Prof-specialty', ' Wife', ' Black', ' Female', 0, 0, 40, ' Cuba', ' <=50K')
(5, '37', ' Private', '284582', ' Masters', 14, 'Married', ' Exec-managerial', ' Wife', ' White', ' Female', 0, 0, 40, ' United-States', ' <=50K')

In [28]:
# c.execute("UPDATE users SET education = 'phd' WHERE index = 1")
c.execute("UPDATE users SET education = 'phd' WHERE age = 50")

In [29]:
c.execute("select * from users limit 5")
data = c.fetchall()
for row in data:
    print(row)

(1, '50', ' Self-emp-not-inc', '83311', 'phd', 13, 'Married', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 13, ' United-States', ' <=50K')
(2, '38', ' Private', '215646', ' HS-grad', 9, ' Divorced', ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K')
(3, '53', ' Private', '234721', ' 11th', 7, 'Married', ' Handlers-cleaners', ' Husband', ' Black', ' Male', 0, 0, 40, ' United-States', ' <=50K')
(4, '28', ' Private', '338409', ' Bachelors', 13, 'Married', ' Prof-specialty', ' Wife', ' Black', ' Female', 0, 0, 40, ' Cuba', ' <=50K')
(5, '37', ' Private', '284582', ' Masters', 14, 'Married', ' Exec-managerial', ' Wife', ' White', ' Female', 0, 0, 40, ' United-States', ' <=50K')

###  Write two delete queries

In [30]:
c.execute('DELETE FROM users WHERE education = "phd"')
print(pd.read_sql_query("SELECT * FROM users", conn).head(2))

   index age workclass  fnlwgt education  education_num marital_status  \
0      2  38   Private  215646   HS-grad              9       Divorced
1      3  53   Private  234721      11th              7        Married

           occupation    relationship    race    sex  capital_gain  \
0   Handlers-cleaners   Not-in-family   White   Male             0
1   Handlers-cleaners         Husband   Black   Male             0

   capital_loss  hours_per_week  native_country   label
0             0              40   United-States   <=50K
1             0              40   United-States   <=50K

In [31]:
c.execute('DELETE FROM users WHERE age = "53" AND fnlwgt = "234721"')
print(pd.read_sql_query("SELECT * FROM users", conn).head())

   index age          workclass  fnlwgt   education  education_num  \
0      2  38            Private  215646     HS-grad              9
1      4  28            Private  338409   Bachelors             13
2      5  37            Private  284582     Masters             14
3      6  49            Private  160187         9th              5
4      7  52   Self-emp-not-inc  209642     HS-grad              9

           marital_status          occupation    relationship    race  \
0                Divorced   Handlers-cleaners   Not-in-family   White
1                 Married      Prof-specialty            Wife   Black
2                 Married     Exec-managerial            Wife   White
3   Married-spouse-absent       Other-service   Not-in-family   Black
4                 Married     Exec-managerial         Husband   White

       sex  capital_gain  capital_loss  hours_per_week  native_country   label
0     Male             0             0              40   United-States   <=50K
1   Female             0             0              40            Cuba   <=50K
2   Female             0             0              40   United-States   <=50K
3   Female             0             0              16         Jamaica   <=50K
4     Male             0             0              45   United-States    >50K

###  Write two filter queries

In [32]:
c.execute('SELECT DISTINCT * FROM users WHERE workclass = " Private" AND age < 20 AND race = " White" AND native_country=" Mexico"')
output = c.fetchall()
print(output)

[(142, '19', ' Private', '316868', ' Some-college', 10, ' Never-married', ' Other-service', ' Own-child', ' White', ' Male', 0, 0, 30, ' Mexico', ' <=50K'), (335, '17', ' Private', '270942', ' 5th-6th', 3, ' Never-married', ' Other-service', ' Other-relative', ' White', ' Male', 0, 0, 48, ' Mexico', ' <=50K'), (2722, '19', ' Private', '275889', ' 11th', 7, ' Never-married', ' Handlers-cleaners', ' Own-child', ' White', ' Male', 0, 0, 40, ' Mexico', ' <=50K'), (3118, '19', ' Private', '130431', ' 5th-6th', 3, ' Never-married', ' Farming-fishing', ' Not-in-family', ' White', ' Male', 0, 0, 36, ' Mexico', ' <=50K'), (7754, '18', ' Private', '444822', ' 11th', 7, ' Never-married', ' Sales', ' Own-child', ' White', ' Female', 0, 0, 8, ' Mexico', ' <=50K'), (9960, '19', ' Private', '228238', ' HS-grad', 9, ' Never-married', ' Machine-op-inspct', ' Other-relative', ' White', ' Male', 0, 0, 40, ' Mexico', ' <=50K'), (13286, '18', ' Private', '333611', ' 5th-6th', 3, ' Never-married', ' Other-service', ' Other-relative', ' White', ' Male', 0, 0, 54, ' Mexico', ' <=50K'), (14157, '17', ' Private', '270942', ' HS-grad', 9, ' Never-married', ' Other-service', ' Other-relative', ' White', ' Male', 0, 0, 35, ' Mexico', ' <=50K'), (14520, '18', ' Private', '79443', ' 9th', 5, ' Never-married', ' Machine-op-inspct', ' Own-child', ' White', ' Male', 0, 0, 40, ' Mexico', ' <=50K'), (21786, '18', ' Private', '335065', ' 7th-8th', 4, ' Never-married', ' Sales', ' Own-child', ' White', ' Male', 0, 0, 30, ' Mexico', ' <=50K'), (22107, '17', ' Private', '438996', ' 10th', 6, ' Never-married', ' Other-service', ' Other-relative', ' White', ' Male', 0, 0, 40, ' Mexico', ' <=50K'), (23875, '19', ' Private', '316797', ' 7th-8th', 4, 'Married', ' Handlers-cleaners', ' Own-child', ' White', ' Male', 0, 0, 45, ' Mexico', ' <=50K'), (24352, '18', ' Private', '184693', ' Some-college', 10, ' Never-married', ' Other-service', ' Own-child', ' White', ' Female', 0, 0, 20, ' Mexico', ' <=50K'), (24951, '19', ' Private', '277695', ' 9th', 5, ' Never-married', ' Farming-fishing', ' Other-relative', ' White', ' Male', 0, 0, 16, ' Mexico', ' <=50K'), (27405, '18', ' Private', '426836', ' 5th-6th', 3, ' Never-married', ' Handlers-cleaners', ' Other-relative', ' White', ' Male', 0, 0, 40, ' Mexico', ' <=50K'), (27531, '19', ' Private', '472807', ' 1st-4th', 2, ' Never-married', ' Handlers-cleaners', ' Other-relative', ' White', ' Male', 0, 0, 52, ' Mexico', ' <=50K'), (27794, '19', ' Private', '225775', ' Some-college', 10, ' Never-married', ' Craft-repair', ' Not-in-family', ' White', ' Male', 0, 0, 45, ' Mexico', ' <=50K'), (28836, '19', ' Private', '311974', ' HS-grad', 9, ' Never-married', ' Craft-repair', ' Other-relative', ' White', ' Male', 0, 0, 25, ' Mexico', ' <=50K'), (29457, '19', ' Private', '340567', ' 1st-4th', 2, ' Never-married', ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', 0, 0, 55, ' Mexico', ' <=50K'), (29876, '19', ' Private', '311974', ' 1st-4th', 2, ' Never-married', ' Machine-op-inspct', ' Other-relative', ' White', ' Male', 0, 0, 40, ' Mexico', ' <=50K')]

In [33]:
c.execute('SELECT DISTINCT * FROM users WHERE education = " Masters" AND age < 50 AND marital_status = " Divorced" AND native_country =" United-States" AND Sex =" Male" AND label =" <=50K"')
output = c.fetchall()
print(output)

[(378, '46', ' Self-emp-not-inc', '80914', ' Masters', 14, ' Divorced', ' Exec-managerial', ' Not-in-family', ' White', ' Male', 0, 0, 30, ' United-States', ' <=50K'), (569, '47', ' Private', '87490', ' Masters', 14, ' Divorced', ' Exec-managerial', ' Unmarried', ' White', ' Male', 0, 0, 42, ' United-States', ' <=50K'), (996, '45', ' Private', '89325', ' Masters', 14, ' Divorced', ' Prof-specialty', ' Not-in-family', ' White', ' Male', 0, 0, 45, ' United-States', ' <=50K'), (1675, '43', ' Private', '37937', ' Masters', 14, ' Divorced', ' Exec-managerial', ' Unmarried', ' White', ' Male', 0, 0, 50, ' United-States', ' <=50K'), (2186, '47', ' Self-emp-not-inc', '77102', ' Masters', 14, ' Divorced', ' Prof-specialty', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (3160, '43', ' Local-gov', '247514', ' Masters', 14, ' Divorced', ' Prof-specialty', ' Unmarried', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (3979, '48', ' Private', '96798', ' Masters', 14, ' Divorced', ' Sales', ' Not-in-family', ' White', ' Male', 0, 0, 35, ' United-States', ' <=50K'), (5283, '40', ' Private', '167265', ' Masters', 14, ' Divorced', ' Prof-specialty', ' Not-in-family', ' White', ' Male', 0, 0, 43, ' United-States', ' <=50K'), (5305, '42', ' Federal-gov', '74680', ' Masters', 14, ' Divorced', ' Adm-clerical', ' Not-in-family', ' White', ' Male', 0, 2001, 60, ' United-States', ' <=50K'), (5648, '45', ' State-gov', '67544', ' Masters', 14, ' Divorced', ' Protective-serv', ' Not-in-family', ' White', ' Male', 0, 0, 50, ' United-States', ' <=50K'), (5926, '42', ' Private', '259643', ' Masters', 14, ' Divorced', ' Prof-specialty', ' Not-in-family', ' White', ' Male', 4650, 0, 40, ' United-States', ' <=50K'), (8185, '37', ' Private', '312271', ' Masters', 14, ' Divorced', ' Exec-managerial', ' Not-in-family', ' White', ' Male', 0, 0, 65, ' United-States', ' <=50K'), (8390, '45', ' Local-gov', '195418', ' Masters', 14, ' Divorced', ' Prof-specialty', ' Not-in-family', ' Black', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (8766, '42', ' Local-gov', '176716', ' Masters', 14, ' Divorced', ' Prof-specialty', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (11257, '37', ' Private', '372525', ' Masters', 14, ' Divorced', ' Prof-specialty', ' Unmarried', ' White', ' Male', 0, 0, 48, ' United-States', ' <=50K'), (11818, '36', ' State-gov', '108320', ' Masters', 14, ' Divorced', ' Prof-specialty', ' Unmarried', ' White', ' Male', 5455, 0, 30, ' United-States', ' <=50K'), (17228, '41', ' Local-gov', '33068', ' Masters', 14, ' Divorced', ' Prof-specialty', ' Not-in-family', ' White', ' Male', 0, 1974, 40, ' United-States', ' <=50K'), (22434, '45', ' Private', '168262', ' Masters', 14, ' Divorced', ' Prof-specialty', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (25379, '45', ' State-gov', '127089', ' Masters', 14, ' Divorced', ' Exec-managerial', ' Not-in-family', ' White', ' Male', 0, 0, 45, ' United-States', ' <=50K'), (25520, '48', ' State-gov', '49595', ' Masters', 14, ' Divorced', ' Protective-serv', ' Not-in-family', ' White', ' Male', 0, 0, 72, ' United-States', ' <=50K'), (25878, '45', ' Self-emp-not-inc', '246891', ' Masters', 14, ' Divorced', ' Craft-repair', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (26219, '42', ' State-gov', '219682', ' Masters', 14, ' Divorced', ' Exec-managerial', ' Not-in-family', ' White', ' Male', 0, 0, 45, ' United-States', ' <=50K'), (29189, '40', ' Private', '56072', ' Masters', 14, ' Divorced', ' Prof-specialty', ' Not-in-family', ' White', ' Male', 0, 0, 20, ' United-States', ' <=50K'), (29537, '46', ' Local-gov', '133969', ' Masters', 14, ' Divorced', ' Prof-specialty', ' Not-in-family', ' Amer-Indian-Eskimo', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (29695, '47', ' Private', '606752', ' Masters', 14, ' Divorced', ' Tech-support', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (30271, '41', ' State-gov', '100800', ' Masters', 14, ' Divorced', ' Prof-specialty', ' Not-in-family', ' White', ' Male', 0, 0, 35, ' United-States', ' <=50K'), (30374, '42', ' State-gov', '121265', ' Masters', 14, ' Divorced', ' Prof-specialty', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K')]

In [35]:
#c.close()

### Write two function queries

In [34]:
def age_check():
    
    c.execute('SELECT avg(age) FROM users WHERE marital_status=" Divorced" AND sex=" Male" AND occupation =" Exec-managerial" ')
    output = c.fetchall()
    print(output)
    
    
age_check()

[(44.04186046511628,)]

In [36]:
def weekly_hours():
   
    c.execute('SELECT avg(hours_per_week) FROM users where occupation = " Handlers-cleaners" AND sex =" Male" AND workclass = " Private"')
    output = c.fetchall()
    print(output)
    
weekly_hours()

[(38.07058823529412,)]